.homeLoginButton{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.homeLayoutDiv{
    display:flex;
    justify-content: flex-end;
    width:100%;
}

.homeSideBar{
    width:300px;
    position: sticky;
    top:1vh;
    height:100vh;
    border-left: 1px solid rgb(214, 214, 214) ;
    padding:10px
}

@media (max-width: 700px) {
    .homeLayoutDiv{
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .homeSideBar{
        position: relative;
        top:1vh;
        height:auto;
        border-left: 1px solid rgb(214, 214, 214) ;
        padding:10px
    }
}

.homeFunctionDivBox{
    width: 100%;
}

.homeDivBox{
    margin:auto;
    margin-top: 8vh;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    max-width: 1200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a {
    background-color: #083d8e;
  }