
.stockDetails {

  border-radius: 4px;
  margin:5px;
}
.stockViewDiv{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.stockViewIndividual{
  width:100%;
  margin:1px;
  display:flex;
}

.stockViewIndividual div{
  width:20%;
}
.stockViewHeaderDiv{
  display:flex;
  justify-content: center;
  align-items: center;
}
.stockViewHeaderDiv button{
  margin-bottom: 5vh;
  margin-left: 2vw;
}