h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 1vh;
  font-weight: bold;
  font-size: 5vw;
  margin-bottom: 6vh;
}
.doorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.door {
  width: 100px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.5s;
}

.open {
  background-image: url('../../assets/fridge_open.png');
  width: 200px;
  height: 200px;
}

.closed {
  background-image: url('../../assets/fridge_closed.png');
  width: 150px;
  height: 200px;
}

input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
}

form {
  margin-bottom: 120px; 
  
}
button[type="submit"] {
  display: block;
  margin: 0 auto;
}


@media (min-width: 700px) {
  input {
    width: 50%;
    font-size: 1.5rem;
  }
  button {
    width: 20%;
    font-size: 1.2rem;
  }
  
}


.stockhome {
  margin-bottom: 150px; 
}
.stock-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.stock-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.stock-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.stock-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}


